@import '../../variables.scss';
.chat-page-form {
  width: 100%;
  height: 80px;
  margin-top: 5px;
  background: #ffffd6;
  border: 2px solid $secondary-dark;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.emoji-button {
  color: $secondary-main;
}
.emoji-button:hover {
  color: $secondary-dark;
  cursor: pointer;
}
img.emojione {
  width: 30px;
  cursor: pointer;
}
.emoji-row>.emoji {
  width: 30px!important;
  height: 30px!important;
  padding: 0!important;
}
.input-area {
  width: 100%;
  height: 50px;
}
.input-text-area {
  width: 87%;
  height: 100%;
  margin-left: 20px;
  padding: 10px 40px 10px 10px;
  border: 1px solid $secondary-dark;
  border-radius: 4px;
  overflow-y: auto;
  word-break: break-all;
}
.input-span {
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10px 40px 10px 10px;
  overflow-y: auto;
  word-break: break-all;
}
.emoji-sizer {
  display: block;
  width: 32px;
  height: 32px;
  background-size: initial!important;
}
.chat-buttons {
  display: flex;
}
.smile-block {
  position: absolute;
  bottom: 40px;
  right: -43px;
  z-index: 10;
}
.emoji-block {
  position: relative;
  margin-left: -30px;
}
.send-button {
  margin-right: -26px!important;
}
.media-selector {
  margin-left: -30px;
  margin-right: -20px;
}

@media (max-width: 800px) {
  .chat-page-form {
    margin-bottom: 20px;
  }
  .input-text-area {
    margin-left: 0px;
  }
  .chat-buttons {
    margin-right: -40px;
  }
  .media-selector {
    margin-left: -65px;
    margin-right: -5px;
  }
}
@media (max-width: 500px) {
  .chat-page-form {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .input-text-area {
    width: 78%;
    margin-left: 5px;
    margin-right: 0px;
  }
  .smile-block {
    bottom: 30px;
    right: -20px;
  }
  .media-selector {
    margin-left: -65px;
  }
  .chat-buttons {
    margin-right: -40px;
  }
  .MuiIconButton-root {
    padding: 5px!important;
  }
}
@media (max-width: 400px) {
  .chat-page-form {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}