@import '../../variables.scss';
.chat-page {
  width: 80%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  justify-self: center;
}
.chat-page-messages {
  width: 100%;
  height: 75%;
  overflow-x: hidden;
  overflow-y: visible;
  background: white;
  border: 1px solid $secondary-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index:1;
}
.chat-page-messages:before {
  z-index:-1;
  position:absolute;
  opacity:0.4;
  background-image: url('../../assets/BG.png');
  background-size: cover;
  content: "";
  width: 77%;
  height: 70%;
}
.messages-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: visible;
}
.chat-page-item {
  padding: 0;
  margin: 3px 15px;
}
.connect-status {
  position: absolute;
  top: 50px;
  right: 17px;
}

::-webkit-scrollbar-button {
  width:5px;
  height:0px
}
  
::-webkit-scrollbar-track {
  background-color: $primary-main;
  border-radius: 15%;
  -webkit-border-radius: 15%;
}
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: $secondary-light;
}
  
::-webkit-scrollbar-thumb:hover{
  background-color: $secondary-dark;
}
  
::-webkit-resizer{
  width:4px;
  height:0px
}
  
::-webkit-scrollbar{
  width: 4px;
}

.status-block {
  position: absolute;
  top: 50px;
  right: 25px;
}

@media (max-width: 800px) {
  .chat-page {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .chat-page {
    width: 95%;
  }
  .chat-page-messages:before {
    width: 91%;
    height: 73%;
  }
}
@media (max-width: 400px) {
  .chat-page {
    height: 100%;
    position: relative;
    bottom: 0;
  }
  .chat-page-messages {
    height: 75%;
  }
  .chat-page-messages:before {
    width: 95%;
    height: 75%;
  }
  .connect-status {
    top: 0px;
  }
}