$primary-light: #e7f2ff; // light
$primary-main: #b4bff1;
$primary-dark: #838fbe;
$primary-contrastText: #292733;
$secondary-light: #524f5c; // dark
$secondary-main: #454153;
$secondary-dark: #292733;
$secondary-contrastText: #fce8c5;
$golden-light: #ffffc5;
$golden-main: #fad694;
$golden-dark: #c6a565;
$golden-contrastText: #292733;